.idea/
*.log
*.sublime-project
*.sublime-workspace
/.external
/robots.txt
/sitemap*.xml
/upload
/bitrix/.settings.php
/bitrix/.settings-extra.php
/bitrix/activities/bitrix
/bitrix/backup
/bitrix/cache
/bitrix/catalog_export
/bitrix/components/bitrix
/bitrix/css
/bitrix/fonts
/bitrix/gadgets/bitrix
/bitrix/html_pages
/bitrix/image_uploader
/bitrix/images
/bitrix/js
/bitrix/managed_cache
/bitrix/modules
/bitrix/otp
/bitrix/panel
/bitrix/php_interface/after_connect.php
/bitrix/php_interface/after_connect_d7.php
/bitrix/php_interface/dbconn.php
/local/php_interface/after_connect.php
/local/php_interface/after_connect_d7.php
/local/php_interface/dbconn.php
/bitrix/services
/bitrix/sounds
/bitrix/stack_cache
/bitrix/themes
/bitrix/tmp
/bitrix/tools
/bitrix/updates
/bitrix/wizards/bitrix
/yt/
/local/php_interface/config/*_override.php
