a:link,
a:visited {
  color: #d93324;
}
a:hover {
  color: #e25b4e;
}
.header .logo .logo-pic {
  background-color: #e25b4e;
}
.navbar-default .navbar-brand .logo-pic {
  background-color: #e25b4e;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .open > a,
.dropdown-menu > .open > a:focus,
.dropdown-menu > .open > a:hover {
  background-color: #d93324;
}
.slider .slider-item {
  background-color: #d93324;
}
.slider .owl-prev:hover,
.slider .owl-next:hover {
  background-color: #d93324;
}
.services-item:hover .item-icon i,
.section-item:hover .item-icon i {
  color: #d93324;
}
.services-item:hover .item-title,
.section-item:hover .item-title {
  color: #d93324;
}
.news .news-item:hover .item-title {
  color: #d93324;
}
.files-docs .files-docs-item:hover .item-icon i {
  color: #d93324;
}
.files-docs .files-docs-item:hover .item-name {
  color: #d93324;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  border-color: #d93324;
  background-color: #d93324;
}
.scroll-up:hover {
  background-color: #d93324;
}
.modal-close:hover i {
  color: #d93324;
}
.form-control:focus {
  border-color: #d93324;
  -webkit-box-shadow: 0px 0px 5px rgba(217,51,36,0.5);
  -moz-box-shadow: 0px 0px 5px rgba(217,51,36,0.5);
  box-shadow: 0px 0px 5px rgba(217,51,36,0.5);
}
.btn-default,
.btn-default:focus,
a.btn-default,
a.btn-default:focus {
  color: #3d4b52;
}
.btn-success,
.btn-success:focus,
a.btn-success,
a.btn-success:focus {
  color: #fff;
}
.btn-default:hover,
a.btn-default:hover,
.btn-success:hover,
a.btn-success:hover,
.btn-reset:hover,
.btn-cancel:hover {
  color: #fff;
  border-color: #d93324;
  background-color: #d93324;
}
.btn-primary,
.btn-primary:focus,
a.btn-primary,
a.btn-primary:focus {
  color: #fff;
  background-color: #d93324;
}
.btn-primary:hover,
a.btn-primary:hover {
  background-color: #e25b4e;
}
.settings-panel .switch:hover {
  background-color: #d93324;
}
.settings-panel .selectbox input:checked + label {
  background-color: #d93324;
}
.settings-panel .multiselectbox label:hover .check,
.settings-panel .multiselectbox input:checked + label:hover .check {
  background-color: #d93324;
}
@media screen and (max-width: 991px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .open > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .open > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .open > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    background-color: #d93324;
  }
}
@media (min-width: 992px) {
  .top-menu.scheme {
    background-color: #d93324;
  }
  .scheme .navbar-default .navbar-nav > .active > a,
  .scheme .navbar-default .navbar-nav > .active > a:focus,
  .scheme .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e25b4e;
  }
  .scheme .navbar-default .navbar-nav > li > a:hover,
  .scheme .navbar-default .navbar-nav > .open > a,
  .scheme .navbar-default .navbar-nav > .open > a:focus,
  .scheme .navbar-default .navbar-nav > .open > a:hover {
    background-color: #ad291d;
  }
  .scheme .dropdown-menu {
    background-color: #d93324;
  }
  .scheme .dropdown-menu > li > a:hover,
  .scheme .dropdown-menu > .active > a,
  .scheme .dropdown-menu > .active > a:focus,
  .scheme .dropdown-menu > .active > a:hover,
  .scheme .dropdown-menu > .open > a,
  .scheme .dropdown-menu > .open > a:focus,
  .scheme .dropdown-menu > .open > a:hover {
    background-color: #ad291d;
  }
}
